<!doctype html>
<html ng-app="scotchTodo">
<head>
	<meta charset="utf-8" />
	<title>Todo List</title>
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js"></script>
    <script src="js/controllers/main.js"></script>
    <script src="js/services/todos.js"></script>
    <script src="js/core.js"></script>
    <link href="assets/css/bootstrap.css" rel="stylesheet" />
    <link href="assets/css/font-awesome.css" rel="stylesheet" />
    <link href="assets/css/style.css" rel="stylesheet" />
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
	<style>
		html 					{ overflow-y:scroll; }
		#todo-list 				{ margin-bottom:30px; }
		#todo-form 	 			{ margin-bottom:50px; }
	</style>
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js"></script>
	<script src="js/controllers/main.js"></script>
	<script src="js/services/todos.js"></script>
	<script src="js/core.js"></script>

</head>
    <div class="navbar navbar-inverse set-radius-zero" >
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">
                    <p>Todo List</p>
                </a>
            </div>
	            <div class="right-div">
	                <p>Vous êtes connecté en tant que : </p>
                <a href="login.html" class="btn btn-info pull-right">Connexion</a>
                <a href="signup.html" class="btn btn-danger pull-right">S'inscrire</a>
	            </div>
        	</div>
    	</div>
	    <section class="menu-section">
	        <div class="container">
	            <div class="row ">
	                <div class="col-md-12">
	                    <div class="navbar-collapse collapse ">
	                        <ul id="menu-top" class="nav navbar-nav navbar-right">
	                            <li><a href="/" class="">Accueil</a></li>
	                           
	                            <li><a href="todo.html" class="menu-top-active">Todo List</a></li>
	                            <li>
	                                <a href="settings.html">Settings</a>
	                            </li>
	                            <li><a href="credits.html">Crédits</a></li>
								<li><a href="chat.html">Chat</a></li>

	                        </ul>
	                    </div>
	                </div>
	            </div>
	 		</div>

	    </section>
		 	<div class="content-wrapper">
         		<div class="container">
        			<div class="row pad-botm">
            			<div class="col-md-12">
              			  <h4 class="header-line">TodoList</h4>
							<body ng-controller="mainController">
								<div class="container">
									<div class="jumbotron text-center">
										<h1>Vous avez <span class="label label-info">{{ todos.length }}</span> nouvelle(s) tâche(s)</h1>
									</div>
									<div id="todo-form" class="row">
												<div class="col-sm-8 col-sm-offset-2 text-center">
												<form>
													<div class="form-group">
														<input type="text" class="form-control input-lg text-center" placeholder="Entrez votre tâche à ajouter" ng-model="formData.text">
													</div>
													<button type="submit" class="btn btn-primary btn-lg" ng-click="createTodo()">Ajouter</button>
												</form>
												</div>
											</div>
										<div id="todo-list" class="row">
											<div class="col-sm-4 col-sm-offset-4">
												<div class="checkbox" ng-repeat="todo in todos">
													<label>
														<input type="checkbox" ng-click="deleteTodo(todo._id)"> {{ todo.text }}
														<hr>
													</label>
												</div>
													<p class="text-center" ng-show="loading">
														<span class="fa fa-spinner fa-spin fa-3x"></span>
													</p>

											</div>
										</div>
								</div>
							</body>
						</div>
					</div>
				</div>
			</div>
    <section class="footer-section">
        <div class="container">
            <div class="row">
                   <p style="text-align: center;">&copy; 2017 todolists</p>
            </div>
        </div>
    </section>
    	<script src="assets/js/jquery-1.10.2.js"></script>
    	<script src="assets/js/bootstrap.js"></script>
   		<script src="assets/js/custom.js"></script>
</body>
</html>
